{0 "Algemeen ziekenhuis"
 1 "Zelfstandig Behandelcentrum"
 2 "Privé kliniek"
 3 "Gespecialiseerd centrum"
 4 "Buitenpolikliniek"
 6 "Academisch ziekenhuis"
 7 "Dagziekenhuis"
 8 "Gespecialiseerd ziekenhuis"}
