{"R8" "Revalidatiecentrum"
 "Z5" "Diagnostisch centrum"
 "L1" "Laboratorium"
 "G3" "Verloskundigenpraktijk"
 "K3" "Apotheekhoudende huisartspraktijk"
 "JGZ" "Jeugdgezondheidszorg"
 "G5" "Geestelijke Gezondheidszorg"
 "B2" "Echocentrum"
 "N6" "Huisartsenpost (t.b.v. dienstwaarneming)"
 "V5" "Universitair Medisch Centrum"
 "Z3" "Huisartspraktijk (zelfstandig of groepspraktijk)"
 "J8" "Openbare apotheek"
 "G6" "Verstandelijk gehandicaptenzorg"
 "T2" "Thuiszorg"
 "V6" "Algemeen ziekenhuis"
 "X3" "Verplegings- of verzorgingsinstelling"
 "K9" "Zelfstandig opererende ziekenhuisapotheek"
 "Z4" "Zelfstandig behandelcentrum"
 "V4" "Ziekenhuis"
 "P6" "Preventieve gezondheidszorg"
 "M1" "Verzorgingstehuis"
 "P4" "Polikliniek (als onderdeel van een ziekenhuis)"
 "R5" "Verpleeghuis"}
