@import "./node_modules/bulma/sass/utilities/functions.sass";

$primary: #64539e;
$secondary: #f0ebff;
$secondary-invert: findColorInvert($secondary) !default;

$custom-colors: (
  "secondary": ($secondary, $secondary-invert)
);

$spacings: (
  0: 4px,
  1: 8px,
  2: 12px,
  3: 16px,
  4: 20px,
  5: 24px,
  6: 28px,
  7: 32px,
  8: 36px,
  9: 40px,
  10: 44px,
  11: 48px
);

// Hamburger menu is only visible when the current window width is below
// $navbar-breakpoint. Hamburger menu should always be visible.
$navbar-breakpoint: 5000;

$navbar-box-shadow-size: 0 4px 10px 0px;
